#homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  margin-bottom: 305px;
  margin-right: -160px;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: 3;
}

.star {
  --star-color: white;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: fixed;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.47em;
  --top-offset: 86.91vh;
  --fall-duration: 7.347s;
  --fall-delay: 6.86s;
}
.star:nth-child(2) {
  --star-tail-length: 6.21em;
  --top-offset: 54.54vh;
  --fall-duration: 6.557s;
  --fall-delay: 0.964s;
}
.star:nth-child(3) {
  --star-tail-length: 6.84em;
  --top-offset: 37.35vh;
  --fall-duration: 7.12s;
  --fall-delay: 4.802s;
}
.star:nth-child(4) {
  --star-tail-length: 5.75em;
  --top-offset: 43.36vh;
  --fall-duration: 9.944s;
  --fall-delay: 3.982s;
}
.star:nth-child(5) {
  --star-tail-length: 5.09em;
  --top-offset: 75.35vh;
  --fall-duration: 10.732s;
  --fall-delay: 0.087s;
}
.star:nth-child(6) {
  --star-tail-length: 7.49em;
  --top-offset: 71.37vh;
  --fall-duration: 11.109s;
  --fall-delay: 6.966s;
}
.star:nth-child(7) {
  --star-tail-length: 7.35em;
  --top-offset: 25.36vh;
  --fall-duration: 11.442s;
  --fall-delay: 7.866s;
}
.star:nth-child(8) {
  --star-tail-length: 7.28em;
  --top-offset: 18.94vh;
  --fall-duration: 9.058s;
  --fall-delay: 4.607s;
}
.star:nth-child(9) {
  --star-tail-length: 7.04em;
  --top-offset: 33.1vh;
  --fall-duration: 8.643s;
  --fall-delay: 6.999s;
}
.star:nth-child(10) {
  --star-tail-length: 6.15em;
  --top-offset: 20.98vh;
  --fall-duration: 9.423s;
  --fall-delay: 8.601s;
}
.star:nth-child(11) {
  --star-tail-length: 6.39em;
  --top-offset: 68vh;
  --fall-duration: 6.146s;
  --fall-delay: 4.795s;
}
.star:nth-child(12) {
  --star-tail-length: 5.9em;
  --top-offset: 41.63vh;
  --fall-duration: 9.22s;
  --fall-delay: 4.514s;
}
.star:nth-child(13) {
  --star-tail-length: 5.24em;
  --top-offset: 24.17vh;
  --fall-duration: 9.016s;
  --fall-delay: 6.035s;
}
.star:nth-child(14) {
  --star-tail-length: 5.65em;
  --top-offset: 29.97vh;
  --fall-duration: 9.898s;
  --fall-delay: 9.324s;
}
.star:nth-child(15) {
  --star-tail-length: 5.75em;
  --top-offset: 84.91vh;
  --fall-duration: 8.325s;
  --fall-delay: 5.94s;
}
.star:nth-child(16) {
  --star-tail-length: 5.15em;
  --top-offset: 45.4vh;
  --fall-duration: 8.291s;
  --fall-delay: 4.579s;
}
.star:nth-child(17) {
  --star-tail-length: 7.36em;
  --top-offset: 30.09vh;
  --fall-duration: 7.318s;
  --fall-delay: 1.528s;
}
.star:nth-child(18) {
  --star-tail-length: 7.16em;
  --top-offset: 50.34vh;
  --fall-duration: 6.517s;
  --fall-delay: 2.927s;
}
.star:nth-child(19) {
  --star-tail-length: 5.03em;
  --top-offset: 79.23vh;
  --fall-duration: 9.943s;
  --fall-delay: 3.995s;
}
.star:nth-child(20) {
  --star-tail-length: 6.99em;
  --top-offset: 26.2vh;
  --fall-duration: 9.891s;
  --fall-delay: 5.931s;
}
.star:nth-child(21) {
  --star-tail-length: 5.31em;
  --top-offset: 24.3vh;
  --fall-duration: 10.57s;
  --fall-delay: 4.11s;
}
.star:nth-child(22) {
  --star-tail-length: 6.71em;
  --top-offset: 54.21vh;
  --fall-duration: 10.267s;
  --fall-delay: 2.355s;
}
.star:nth-child(23) {
  --star-tail-length: 6.92em;
  --top-offset: 10.04vh;
  --fall-duration: 8.248s;
  --fall-delay: 1.656s;
}
.star:nth-child(24) {
  --star-tail-length: 5.37em;
  --top-offset: 44.7vh;
  --fall-duration: 6.009s;
  --fall-delay: 2.278s;
}
.star:nth-child(25) {
  --star-tail-length: 5.34em;
  --top-offset: 85.35vh;
  --fall-duration: 6.43s;
  --fall-delay: 5.747s;
}
.star:nth-child(26) {
  --star-tail-length: 5.1em;
  --top-offset: 21.28vh;
  --fall-duration: 11.315s;
  --fall-delay: 2.645s;
}
.star:nth-child(27) {
  --star-tail-length: 5.5em;
  --top-offset: 68.51vh;
  --fall-duration: 7.492s;
  --fall-delay: 3.022s;
}
.star:nth-child(28) {
  --star-tail-length: 7.33em;
  --top-offset: 60.36vh;
  --fall-duration: 6.981s;
  --fall-delay: 4.777s;
}
.star:nth-child(29) {
  --star-tail-length: 7.5em;
  --top-offset: 84.24vh;
  --fall-duration: 11.422s;
  --fall-delay: 9.116s;
}
.star:nth-child(30) {
  --star-tail-length: 6.26em;
  --top-offset: 36.83vh;
  --fall-duration: 9.8s;
  --fall-delay: 5.872s;
}
.star:nth-child(31) {
  --star-tail-length: 7.37em;
  --top-offset: 37.33vh;
  --fall-duration: 6.891s;
  --fall-delay: 7.834s;
}
.star:nth-child(32) {
  --star-tail-length: 7.08em;
  --top-offset: 56.09vh;
  --fall-duration: 8.845s;
  --fall-delay: 2.568s;
}
.star:nth-child(33) {
  --star-tail-length: 6.11em;
  --top-offset: 41.19vh;
  --fall-duration: 9.95s;
  --fall-delay: 4.608s;
}
.star:nth-child(34) {
  --star-tail-length: 5.08em;
  --top-offset: 61.55vh;
  --fall-duration: 6.592s;
  --fall-delay: 7.254s;
}
.star:nth-child(35) {
  --star-tail-length: 6.4em;
  --top-offset: 82.38vh;
  --fall-duration: 7.089s;
  --fall-delay: 0.814s;
}
.star:nth-child(36) {
  --star-tail-length: 6.73em;
  --top-offset: 47.51vh;
  --fall-duration: 8.425s;
  --fall-delay: 7.668s;
}
.star:nth-child(37) {
  --star-tail-length: 6.92em;
  --top-offset: 79.51vh;
  --fall-duration: 8.846s;
  --fall-delay: 6.44s;
}
.star:nth-child(38) {
  --star-tail-length: 6.36em;
  --top-offset: 99.96vh;
  --fall-duration: 10.512s;
  --fall-delay: 7.399s;
}
.star:nth-child(39) {
  --star-tail-length: 6.99em;
  --top-offset: 82.83vh;
  --fall-duration: 6.221s;
  --fall-delay: 8.212s;
}
.star:nth-child(40) {
  --star-tail-length: 6.5em;
  --top-offset: 27.73vh;
  --fall-duration: 7.719s;
  --fall-delay: 2.176s;
}
.star:nth-child(41) {
  --star-tail-length: 5.66em;
  --top-offset: 6.93vh;
  --fall-duration: 6.77s;
  --fall-delay: 1.224s;
}
.star:nth-child(42) {
  --star-tail-length: 6.49em;
  --top-offset: 84.82vh;
  --fall-duration: 10.654s;
  --fall-delay: 9.544s;
}
.star:nth-child(43) {
  --star-tail-length: 5.74em;
  --top-offset: 17.57vh;
  --fall-duration: 9.015s;
  --fall-delay: 3.659s;
}
.star:nth-child(44) {
  --star-tail-length: 5.79em;
  --top-offset: 19.66vh;
  --fall-duration: 7.992s;
  --fall-delay: 3.252s;
}
.star:nth-child(45) {
  --star-tail-length: 7.19em;
  --top-offset: 9.01vh;
  --fall-duration: 11.288s;
  --fall-delay: 4.373s;
}
.star:nth-child(46) {
  --star-tail-length: 5.15em;
  --top-offset: 82.12vh;
  --fall-duration: 10.814s;
  --fall-delay: 4.845s;
}
.star:nth-child(47) {
  --star-tail-length: 5.98em;
  --top-offset: 24.17vh;
  --fall-duration: 10.371s;
  --fall-delay: 5.854s;
}
.star:nth-child(48) {
  --star-tail-length: 5.37em;
  --top-offset: 18.67vh;
  --fall-duration: 6.793s;
  --fall-delay: 9.224s;
}
.star:nth-child(49) {
  --star-tail-length: 6.07em;
  --top-offset: 81.55vh;
  --fall-duration: 7.612s;
  --fall-delay: 8.859s;
}
.star:nth-child(50) {
  --star-tail-length: 5.3em;
  --top-offset: 75.02vh;
  --fall-duration: 7.117s;
  --fall-delay: 4.096s;
}
.star::before, .star::after {
  position: fixed;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=homepage.css.map */