#homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  margin-bottom: 305px;
  margin-right: -160px;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: 3;
}

.star {
  --star-color: white;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: fixed;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.47em;
  --top-offset: 43.89vh;
  --fall-duration: 9.082s;
  --fall-delay: 3.816s;
}
.star:nth-child(2) {
  --star-tail-length: 6.55em;
  --top-offset: 23.59vh;
  --fall-duration: 10.089s;
  --fall-delay: 1.751s;
}
.star:nth-child(3) {
  --star-tail-length: 7.25em;
  --top-offset: 0.63vh;
  --fall-duration: 8.14s;
  --fall-delay: 9.959s;
}
.star:nth-child(4) {
  --star-tail-length: 6.34em;
  --top-offset: 26.77vh;
  --fall-duration: 7.25s;
  --fall-delay: 5.701s;
}
.star:nth-child(5) {
  --star-tail-length: 6.28em;
  --top-offset: 91.14vh;
  --fall-duration: 6.535s;
  --fall-delay: 9.94s;
}
.star:nth-child(6) {
  --star-tail-length: 7.33em;
  --top-offset: 93.16vh;
  --fall-duration: 11.944s;
  --fall-delay: 6.501s;
}
.star:nth-child(7) {
  --star-tail-length: 5.84em;
  --top-offset: 17.39vh;
  --fall-duration: 6.644s;
  --fall-delay: 1.783s;
}
.star:nth-child(8) {
  --star-tail-length: 6.93em;
  --top-offset: 26.02vh;
  --fall-duration: 7.469s;
  --fall-delay: 0.771s;
}
.star:nth-child(9) {
  --star-tail-length: 7.13em;
  --top-offset: 1.14vh;
  --fall-duration: 7.691s;
  --fall-delay: 6.604s;
}
.star:nth-child(10) {
  --star-tail-length: 5.24em;
  --top-offset: 44.68vh;
  --fall-duration: 8.61s;
  --fall-delay: 6.995s;
}
.star:nth-child(11) {
  --star-tail-length: 6.19em;
  --top-offset: 13.18vh;
  --fall-duration: 7.648s;
  --fall-delay: 3.778s;
}
.star:nth-child(12) {
  --star-tail-length: 7.22em;
  --top-offset: 37.26vh;
  --fall-duration: 10.366s;
  --fall-delay: 2.782s;
}
.star:nth-child(13) {
  --star-tail-length: 5.2em;
  --top-offset: 85.85vh;
  --fall-duration: 11.278s;
  --fall-delay: 3.168s;
}
.star:nth-child(14) {
  --star-tail-length: 7.44em;
  --top-offset: 32.22vh;
  --fall-duration: 10.239s;
  --fall-delay: 7.099s;
}
.star:nth-child(15) {
  --star-tail-length: 7.28em;
  --top-offset: 11.89vh;
  --fall-duration: 9.218s;
  --fall-delay: 9.186s;
}
.star:nth-child(16) {
  --star-tail-length: 6em;
  --top-offset: 66.36vh;
  --fall-duration: 9.422s;
  --fall-delay: 5.241s;
}
.star:nth-child(17) {
  --star-tail-length: 6.47em;
  --top-offset: 84.25vh;
  --fall-duration: 11.775s;
  --fall-delay: 3.671s;
}
.star:nth-child(18) {
  --star-tail-length: 6.47em;
  --top-offset: 84.9vh;
  --fall-duration: 6.643s;
  --fall-delay: 5.228s;
}
.star:nth-child(19) {
  --star-tail-length: 5.48em;
  --top-offset: 46.61vh;
  --fall-duration: 8.167s;
  --fall-delay: 2.445s;
}
.star:nth-child(20) {
  --star-tail-length: 6.79em;
  --top-offset: 51.95vh;
  --fall-duration: 11.497s;
  --fall-delay: 9.352s;
}
.star:nth-child(21) {
  --star-tail-length: 6.21em;
  --top-offset: 10.41vh;
  --fall-duration: 9.466s;
  --fall-delay: 0.414s;
}
.star:nth-child(22) {
  --star-tail-length: 5.38em;
  --top-offset: 39.06vh;
  --fall-duration: 7.591s;
  --fall-delay: 0.094s;
}
.star:nth-child(23) {
  --star-tail-length: 7.39em;
  --top-offset: 36.15vh;
  --fall-duration: 8.285s;
  --fall-delay: 5.148s;
}
.star:nth-child(24) {
  --star-tail-length: 5.8em;
  --top-offset: 67.03vh;
  --fall-duration: 9.553s;
  --fall-delay: 5.923s;
}
.star:nth-child(25) {
  --star-tail-length: 6.46em;
  --top-offset: 92.08vh;
  --fall-duration: 9.507s;
  --fall-delay: 6.324s;
}
.star:nth-child(26) {
  --star-tail-length: 6.07em;
  --top-offset: 23.79vh;
  --fall-duration: 11.146s;
  --fall-delay: 1.037s;
}
.star:nth-child(27) {
  --star-tail-length: 6.09em;
  --top-offset: 92.52vh;
  --fall-duration: 7.544s;
  --fall-delay: 9.696s;
}
.star:nth-child(28) {
  --star-tail-length: 5.24em;
  --top-offset: 95.5vh;
  --fall-duration: 6.133s;
  --fall-delay: 1.866s;
}
.star:nth-child(29) {
  --star-tail-length: 6.76em;
  --top-offset: 45.24vh;
  --fall-duration: 6.503s;
  --fall-delay: 2.462s;
}
.star:nth-child(30) {
  --star-tail-length: 5.93em;
  --top-offset: 93.69vh;
  --fall-duration: 10.896s;
  --fall-delay: 6.424s;
}
.star:nth-child(31) {
  --star-tail-length: 6.48em;
  --top-offset: 60.82vh;
  --fall-duration: 9.256s;
  --fall-delay: 1.081s;
}
.star:nth-child(32) {
  --star-tail-length: 6.57em;
  --top-offset: 36.03vh;
  --fall-duration: 8.446s;
  --fall-delay: 0.37s;
}
.star:nth-child(33) {
  --star-tail-length: 6.39em;
  --top-offset: 97.5vh;
  --fall-duration: 7.304s;
  --fall-delay: 0.158s;
}
.star:nth-child(34) {
  --star-tail-length: 5.97em;
  --top-offset: 55.05vh;
  --fall-duration: 9.875s;
  --fall-delay: 3.847s;
}
.star:nth-child(35) {
  --star-tail-length: 7.08em;
  --top-offset: 50.44vh;
  --fall-duration: 7.564s;
  --fall-delay: 1.595s;
}
.star:nth-child(36) {
  --star-tail-length: 5.12em;
  --top-offset: 66.62vh;
  --fall-duration: 6.279s;
  --fall-delay: 1.504s;
}
.star:nth-child(37) {
  --star-tail-length: 6.53em;
  --top-offset: 71.98vh;
  --fall-duration: 6.181s;
  --fall-delay: 3.506s;
}
.star:nth-child(38) {
  --star-tail-length: 5.28em;
  --top-offset: 38.73vh;
  --fall-duration: 8.674s;
  --fall-delay: 1.392s;
}
.star:nth-child(39) {
  --star-tail-length: 6.81em;
  --top-offset: 88.62vh;
  --fall-duration: 7.939s;
  --fall-delay: 4.311s;
}
.star:nth-child(40) {
  --star-tail-length: 6.29em;
  --top-offset: 47.83vh;
  --fall-duration: 8.579s;
  --fall-delay: 8.564s;
}
.star:nth-child(41) {
  --star-tail-length: 6.44em;
  --top-offset: 57.61vh;
  --fall-duration: 6.302s;
  --fall-delay: 2.681s;
}
.star:nth-child(42) {
  --star-tail-length: 5.47em;
  --top-offset: 81.51vh;
  --fall-duration: 9.714s;
  --fall-delay: 2.894s;
}
.star:nth-child(43) {
  --star-tail-length: 7.16em;
  --top-offset: 67.08vh;
  --fall-duration: 11.173s;
  --fall-delay: 3.708s;
}
.star:nth-child(44) {
  --star-tail-length: 6.17em;
  --top-offset: 7.96vh;
  --fall-duration: 9.39s;
  --fall-delay: 0.364s;
}
.star:nth-child(45) {
  --star-tail-length: 6.49em;
  --top-offset: 4.57vh;
  --fall-duration: 11.464s;
  --fall-delay: 0.957s;
}
.star:nth-child(46) {
  --star-tail-length: 6.04em;
  --top-offset: 30.34vh;
  --fall-duration: 9.779s;
  --fall-delay: 0.828s;
}
.star:nth-child(47) {
  --star-tail-length: 6.57em;
  --top-offset: 36vh;
  --fall-duration: 6.26s;
  --fall-delay: 3.831s;
}
.star:nth-child(48) {
  --star-tail-length: 7.5em;
  --top-offset: 84.86vh;
  --fall-duration: 9.262s;
  --fall-delay: 5.06s;
}
.star:nth-child(49) {
  --star-tail-length: 6.26em;
  --top-offset: 21.81vh;
  --fall-duration: 8.694s;
  --fall-delay: 0.887s;
}
.star:nth-child(50) {
  --star-tail-length: 7.37em;
  --top-offset: 43.32vh;
  --fall-duration: 7.263s;
  --fall-delay: 7.185s;
}
.star::before, .star::after {
  position: fixed;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=homepage.css.map */