#homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  margin-bottom: 355px;
  margin-right: -270px;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: 3;
}

.star {
  --star-color: white;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: fixed;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.8em;
  --top-offset: 25.77vh;
  --fall-duration: 11.368s;
  --fall-delay: 6.684s;
}
.star:nth-child(2) {
  --star-tail-length: 5.25em;
  --top-offset: 15.95vh;
  --fall-duration: 9.579s;
  --fall-delay: 3.096s;
}
.star:nth-child(3) {
  --star-tail-length: 6.16em;
  --top-offset: 98.02vh;
  --fall-duration: 11.091s;
  --fall-delay: 7.183s;
}
.star:nth-child(4) {
  --star-tail-length: 5.78em;
  --top-offset: 88.78vh;
  --fall-duration: 6.665s;
  --fall-delay: 6.665s;
}
.star:nth-child(5) {
  --star-tail-length: 7.13em;
  --top-offset: 86.96vh;
  --fall-duration: 8.141s;
  --fall-delay: 2.171s;
}
.star:nth-child(6) {
  --star-tail-length: 5.23em;
  --top-offset: 40.9vh;
  --fall-duration: 7.45s;
  --fall-delay: 0.805s;
}
.star:nth-child(7) {
  --star-tail-length: 5.29em;
  --top-offset: 7.76vh;
  --fall-duration: 7.938s;
  --fall-delay: 6.431s;
}
.star:nth-child(8) {
  --star-tail-length: 5.09em;
  --top-offset: 26.44vh;
  --fall-duration: 8.564s;
  --fall-delay: 8.459s;
}
.star:nth-child(9) {
  --star-tail-length: 5.55em;
  --top-offset: 29.47vh;
  --fall-duration: 6.939s;
  --fall-delay: 7.862s;
}
.star:nth-child(10) {
  --star-tail-length: 6.93em;
  --top-offset: 31.66vh;
  --fall-duration: 7.73s;
  --fall-delay: 5.177s;
}
.star:nth-child(11) {
  --star-tail-length: 7.38em;
  --top-offset: 87.66vh;
  --fall-duration: 8.825s;
  --fall-delay: 8.295s;
}
.star:nth-child(12) {
  --star-tail-length: 7.37em;
  --top-offset: 42vh;
  --fall-duration: 11.262s;
  --fall-delay: 9.217s;
}
.star:nth-child(13) {
  --star-tail-length: 5.83em;
  --top-offset: 14.3vh;
  --fall-duration: 11.218s;
  --fall-delay: 3.595s;
}
.star:nth-child(14) {
  --star-tail-length: 5.38em;
  --top-offset: 3.99vh;
  --fall-duration: 8.493s;
  --fall-delay: 2.583s;
}
.star:nth-child(15) {
  --star-tail-length: 7.29em;
  --top-offset: 42.61vh;
  --fall-duration: 9.157s;
  --fall-delay: 4.713s;
}
.star:nth-child(16) {
  --star-tail-length: 5.97em;
  --top-offset: 51.2vh;
  --fall-duration: 11.158s;
  --fall-delay: 8.401s;
}
.star:nth-child(17) {
  --star-tail-length: 6.62em;
  --top-offset: 32.67vh;
  --fall-duration: 6.187s;
  --fall-delay: 9.665s;
}
.star:nth-child(18) {
  --star-tail-length: 5.05em;
  --top-offset: 65.34vh;
  --fall-duration: 9.77s;
  --fall-delay: 0.207s;
}
.star:nth-child(19) {
  --star-tail-length: 6.7em;
  --top-offset: 65.23vh;
  --fall-duration: 6.484s;
  --fall-delay: 1.135s;
}
.star:nth-child(20) {
  --star-tail-length: 6.96em;
  --top-offset: 8.07vh;
  --fall-duration: 10.63s;
  --fall-delay: 2.284s;
}
.star:nth-child(21) {
  --star-tail-length: 6.34em;
  --top-offset: 27.22vh;
  --fall-duration: 8.424s;
  --fall-delay: 9.238s;
}
.star:nth-child(22) {
  --star-tail-length: 6.3em;
  --top-offset: 9.99vh;
  --fall-duration: 6.131s;
  --fall-delay: 4.767s;
}
.star:nth-child(23) {
  --star-tail-length: 6.81em;
  --top-offset: 64.81vh;
  --fall-duration: 11.37s;
  --fall-delay: 6.956s;
}
.star:nth-child(24) {
  --star-tail-length: 6.17em;
  --top-offset: 23.82vh;
  --fall-duration: 6.732s;
  --fall-delay: 2.621s;
}
.star:nth-child(25) {
  --star-tail-length: 5.83em;
  --top-offset: 26.1vh;
  --fall-duration: 7.959s;
  --fall-delay: 1.406s;
}
.star:nth-child(26) {
  --star-tail-length: 6.59em;
  --top-offset: 68.2vh;
  --fall-duration: 9.421s;
  --fall-delay: 8.129s;
}
.star:nth-child(27) {
  --star-tail-length: 7.11em;
  --top-offset: 81.51vh;
  --fall-duration: 8.514s;
  --fall-delay: 6.247s;
}
.star:nth-child(28) {
  --star-tail-length: 5.45em;
  --top-offset: 75.38vh;
  --fall-duration: 8.845s;
  --fall-delay: 0.885s;
}
.star:nth-child(29) {
  --star-tail-length: 6.4em;
  --top-offset: 48.08vh;
  --fall-duration: 8.166s;
  --fall-delay: 9.549s;
}
.star:nth-child(30) {
  --star-tail-length: 7.24em;
  --top-offset: 82.82vh;
  --fall-duration: 8.242s;
  --fall-delay: 6.489s;
}
.star:nth-child(31) {
  --star-tail-length: 6.38em;
  --top-offset: 62.55vh;
  --fall-duration: 9.576s;
  --fall-delay: 0.005s;
}
.star:nth-child(32) {
  --star-tail-length: 6.67em;
  --top-offset: 25.82vh;
  --fall-duration: 9.988s;
  --fall-delay: 9.363s;
}
.star:nth-child(33) {
  --star-tail-length: 5.13em;
  --top-offset: 45.02vh;
  --fall-duration: 10.217s;
  --fall-delay: 8.291s;
}
.star:nth-child(34) {
  --star-tail-length: 7.05em;
  --top-offset: 30.61vh;
  --fall-duration: 11.09s;
  --fall-delay: 8.967s;
}
.star:nth-child(35) {
  --star-tail-length: 6.27em;
  --top-offset: 21.25vh;
  --fall-duration: 8.074s;
  --fall-delay: 3.814s;
}
.star:nth-child(36) {
  --star-tail-length: 6.67em;
  --top-offset: 19.14vh;
  --fall-duration: 6.517s;
  --fall-delay: 6.6s;
}
.star:nth-child(37) {
  --star-tail-length: 6.46em;
  --top-offset: 22.7vh;
  --fall-duration: 6.724s;
  --fall-delay: 9.73s;
}
.star:nth-child(38) {
  --star-tail-length: 6.91em;
  --top-offset: 32.21vh;
  --fall-duration: 8.654s;
  --fall-delay: 4.886s;
}
.star:nth-child(39) {
  --star-tail-length: 5.35em;
  --top-offset: 17.16vh;
  --fall-duration: 7.172s;
  --fall-delay: 0.313s;
}
.star:nth-child(40) {
  --star-tail-length: 7.3em;
  --top-offset: 38.69vh;
  --fall-duration: 9.119s;
  --fall-delay: 0.421s;
}
.star:nth-child(41) {
  --star-tail-length: 7.43em;
  --top-offset: 31.07vh;
  --fall-duration: 8.935s;
  --fall-delay: 0.208s;
}
.star:nth-child(42) {
  --star-tail-length: 5.95em;
  --top-offset: 10.51vh;
  --fall-duration: 10.484s;
  --fall-delay: 9.176s;
}
.star:nth-child(43) {
  --star-tail-length: 6.06em;
  --top-offset: 53.68vh;
  --fall-duration: 7.89s;
  --fall-delay: 4.263s;
}
.star:nth-child(44) {
  --star-tail-length: 5.88em;
  --top-offset: 79.37vh;
  --fall-duration: 9.317s;
  --fall-delay: 6.158s;
}
.star:nth-child(45) {
  --star-tail-length: 5.21em;
  --top-offset: 91.04vh;
  --fall-duration: 6.946s;
  --fall-delay: 9.974s;
}
.star:nth-child(46) {
  --star-tail-length: 7.42em;
  --top-offset: 95.07vh;
  --fall-duration: 9.503s;
  --fall-delay: 7.934s;
}
.star:nth-child(47) {
  --star-tail-length: 5.89em;
  --top-offset: 5.05vh;
  --fall-duration: 7.837s;
  --fall-delay: 5.256s;
}
.star:nth-child(48) {
  --star-tail-length: 6.72em;
  --top-offset: 55.29vh;
  --fall-duration: 9.451s;
  --fall-delay: 0.765s;
}
.star:nth-child(49) {
  --star-tail-length: 6.28em;
  --top-offset: 18.04vh;
  --fall-duration: 8.889s;
  --fall-delay: 1.308s;
}
.star:nth-child(50) {
  --star-tail-length: 5.49em;
  --top-offset: 99.79vh;
  --fall-duration: 7.39s;
  --fall-delay: 3.043s;
}
.star::before, .star::after {
  position: fixed;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=homepage.css.map */